<!--
  Generated template for the ChangepassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="ActionChangePassword()" id="boxform">
<div  class="main-form">
  <ion-list>
    <p><strong>Current Password</strong></p>
    <ion-item no-lines margin-bottom>
    <ion-input [(ngModel)]="ChangePasswordData.oldpassword" name="oldpassword" [type]="passwordType" clearOnEdit="false"></ion-input>
    <button type="button" (click)='hideShowPassword()' ion-button clear small item-end icon-only>
      <ion-icon [name]="passwordIcon"></ion-icon>
    </button>
  </ion-item>

  <p><strong>New Password</strong></p>
  <ion-item no-lines margin-bottom>
    <ion-input [type]="newpasswordType" [(ngModel)]="ChangePasswordData.password"  name="password" clearOnEdit="false"></ion-input>
    <button type="button" (click)='newhideShowPassword()' ion-button clear small item-end icon-only>
      <ion-icon [name]="newpasswordIcon"></ion-icon>
    </button>
  </ion-item>

  <p><strong>Repeat New Password</strong></p>
  <ion-item no-lines>
    <ion-input [type]="confirmpasswordType" [(ngModel)]="ChangePasswordData.cpassword"  name="cpassword" clearOnEdit="false"></ion-input>
    <button type="button" (click)='confirmhideShowPassword()' ion-button clear small item-end icon-only>
      <ion-icon [name]="confirmpasswordIcon"></ion-icon>
    </button>
  </ion-item>
  </ion-list>

<button type="submit" class="appbutton"  ion-button block>Submit</button>
</div>
  </form>
</ion-content>
