page-changepassword {
  .content-ios{
    background: #ffffff;
    .scroll-content{
        padding-bottom:5px !important;
    }
  }

  .main-form {
      justify-content: center;
      min-height: calc(100% - 100px);
      display: flex;
      flex-wrap: wrap;
      .logo{
          padding: 20px 0;
          width: 50%;
          align-items: center;
          display: flex;
          img{
              width:313px;
              margin: 0 auto;
          }
      }
      .list{
      width:100%;
          .item{
          border-radius: 6px;
          border: 1px solid color($colors,primary);
          }
      }
  }

  /***place holder****/
  input{
      &::-webkit-input-placeholder {
          color: color($colors,secondary);
          font-size: 1.4rem;
      }
  }
}
