<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" swipeBackEnabled="true" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Memelords" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Post Memes" tabIcon="add-circle"></ion-tab>
  <!-- <ion-tab [root]="tab4Root" tabTitle="Notifications" tabIcon="notifications"></ion-tab> -->
  <ion-tab [root]="tab4Root" tabTitle="Account" tabIcon="lock"></ion-tab>
</ion-tabs>
