page-edit-profile {
  .edit-avatar {
    border-radius: 100%;
    width: 25%;
  }

  .change-text {
    font-size: 13px;
    color: #659CF2;
  }

  .info-text {
    font-family: Arial, Helvetica, sans-serif;
  }

  .custom-hr {
    height: 3px;
  }

  .custom-select {
    margin-left: 15px;
    position: absolute;
    max-width: 100% !important;
    width: 100% !important;
  }
}
