<ion-header>

  <ion-navbar>
    <ion-buttons start left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" class="top-icon-left"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateProfile()">
        <ion-icon name="checkmark" class="top-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-col col-4></ion-col>
    <ion-col col-4>
    <div text-center (click)="getPhoto()">
      <img [src]="profilePic" class="edit-avatar" alt="">
      <p class="change-text">Change Photo</p>
    </div>
  </ion-col>
  <ion-col col-4></ion-col>

  <!-- Profile picture -->
  <!-- <div text-center (click)="getPhoto()">
    <img [src]="profilePic" class="edit-avatar" alt="">
    <p class="change-text">Change Photo</p>
  </div> -->

  <!-- Form -->
  <!-- <p class="formp">Username (Phone No. / Email Address)</p> -->
  <!-- <ion-item>
    <ion-label>
      <ion-icon name="mail" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="email" [(ngModel)]="ProfileData.email" name="email" placeholder="Enter email address"></ion-input>
  </ion-item> -->

<p class="formp">Full Name</p>
  <ion-item>
    <ion-label>
      <ion-icon name="person" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="ProfileData.fullName" name="fullName" placeholder="Enter your name"></ion-input>
  </ion-item>

<p class="formp">Username (Phone No. / Email Address)</p>
  <ion-item>
    <ion-label>
      <ion-icon name="person" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="ProfileData.nickName" name="nickName" placeholder="Enter your nick name"></ion-input>
  </ion-item>

<p class="formp">Gender</p>
  <ion-item>
    <ion-label>
      <ion-icon name="transgender" color="gray"></ion-icon>
    </ion-label>
    <ion-select class="custom-select" [(ngModel)]="ProfileData.gender" name="gender" placeholder="Select Gender">
      <ion-option value="Male">Male</ion-option>
      <ion-option value="Female">Female</ion-option>
      <ion-option value="Other">Not Specified</ion-option>
    </ion-select>
  </ion-item>

  <p class="formp">Birth Day</p>
    <ion-item>
      <ion-label>
        <ion-icon name="calendar" color="gray"></ion-icon>
      </ion-label>
      <ion-datetime display-timezone="ist" displayFormat="DD/MM/YYYY" [(ngModel)]="ProfileData.dob"></ion-datetime>
    </ion-item>

</ion-content>
