<!--
  Generated template for the PeoplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <ion-buttons start left>
      <button ion-button icon-only (click)="openCamera()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>
      <img alt="Memesasa" width="80%"   src="../assets/imgs/meme.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="..refreshing">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-card *ngFor="let item of list" (click)="open(item.id,item.fullName,item.nickName,item.profilePic,item.count,item.memberSince)">
  <ion-item>
    <ion-avatar item-start>
      <img src="{{item.profilePic}}">
    </ion-avatar>
    <h2>{{item.fullName}}</h2>
    <p>{{item.nickName}}</p>
    <span item-end>({{item.count}})</span>
  </ion-item>
</ion-card> -->

<ion-card [hidden]="!showbanner" (click)="openBanner()" class="banner-card">
  <ion-card-header *ngIf="bannerText !=null">
    {{bannerText}}
  </ion-card-header>
  <ion-card-content *ngIf="bannerImage !=null" class="banner-card-content">
    <img src="{{bannerImage}}" class="banner-img">
  </ion-card-content>
</ion-card>

  <ion-list>
  <ion-item *ngFor="let item of list" (click)="open(item.id,item.fullName,item.nickName,item.profilePic,item.count,item.memberSince)">
    <ion-avatar item-start>
      <img src="{{item.profilePic}}">
    </ion-avatar>
    <h2>{{item.fullName}}</h2>
    <p>{{item.nickName}}</p>
    <span item-end>({{item.count}})</span>
  </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
