<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Terms of use</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
                   	Welcome to Memesasa mobile app. If you continue to browse and use this mobile app you are agreeing to comply
                   	with and be bound by the following terms
                    and conditions of use, which together with our privacy policy govern Memesasa’s
                    relationship with you in relation to this mobile app.</p>
                    <p>The term “Memesasa” or “us” or “we” refers to the owner of the mobile app who is Memesasa. The term “you” refers to
                    the user or viewer of our mobile app.</p>
                    <p>The use of this mobile app is subject to the following terms of use:</p>
                    <p>1. The content of the pages of this mobile app is for your general information and use only.
                    It is subject to change without notice. </p>
                    <p>2. Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness
                    or suitability of the information and materials found or offered on this mobile app for any particular purpose. You acknowledge that
                    such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or
                    errors to the fullest extent permitted by law.</p>
                    <p>3. Your use of any information or materials on this mobile app is entirely at your own risk, for which we shall not be liable.
                    It shall be your own responsibility to ensure that any products, services or information available through this mobile app meet your specific requirements.</p>
                    <p>4. This mobile app contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look,
                    appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</p>
                    <p>5. All trademarks reproduced in this mobile app, which are not the property of, or licensed to the operator, are acknowledged on the mobile app.</p>
                    <p>6. Unauthorised use of this mobile app may give to a claim for damages and/or be a criminal offence.</p>
                    <p>7. From time to time this mobile app may also include links to other mobile apps. These links are provided for your convenience to provide further information.
                    They do not signify that we endorse the mobile app(s). We have no responsibility for the content of the linked mobile app(s).</p>
                    <p>8. You may not create a link to this mobile app from another mobile app or document without Memesasa’s prior written consent. </p>
                    <p>9. Your use of this mobile app and any dispute arising out of such use of the mobile app is subject to the laws of Kenya & the international laws governing such.
                   	</p>
</ion-content>
