<ion-header>

  <ion-navbar color="white">
    <ion-buttons start left [hidden]="!showButtons">
      <button ion-button icon-only (click)="openTabs()">
        <ion-icon name="home" class="top-icon-left"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{fullName}}</ion-title>

    <ion-buttons end>
      <!-- <button ion-button icon-only>
        <ion-icon name="person-add" class="badge-container">
          <span class="custom-badge">3</span>
        </ion-icon>
      </button> -->
      <button ion-button icon-only (click)="goOptions()">
        <ion-icon name="more" class="top-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-row padding>
    <!-- Avatar -->
    <ion-col col-3>
      <img src="{{profilePic}}" class="avatar" alt="{{nickName}}" (click)="goEditProfile()">
    </ion-col>
    <!-- Information about user -->
    <ion-col col-3 text-center >
      <h6>{{count}}</h6>
      <p no-padding no-margin>Posts</p>
    </ion-col>
    <ion-col col-6 text-center>
      <h6>{{memberSince}}</h6>
      <p no-paddin no-margin>Member Since</p>
    </ion-col>
  </ion-row>

  <!-- Edit/follow button -->
  <ion-row no-padding no-margin>
    <ion-col no-padding no-margin col-4></ion-col>
      <ion-col no-padding no-margin text-center col-8>
      <button class="edit-button" (click)="goEditProfile()">Edit your profile</button>
    </ion-col>
    <ion-col col-3></ion-col>
  </ion-row>

  <!-- Profile info -->
  <!-- <div padding>
    <p no-margin no-padding>Name: <b>{{fullName}}</b></p>
    <p no-padding no-margin class="info">Nickname: <a href="#">{{nickName}}</a></p>
  </div> -->

  <hr>

  <!-- Segments -->
  <!-- <div>
    <ion-segment [(ngModel)]="profile_segment">
      <ion-segment-button value="grid">
        <ion-icon name="apps"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="photos">
        <ion-icon name="image"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="videos" (click)="goTaggedProfile()">
        <ion-icon name="video"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="texts" (click)="goSavedProfile()">
        <ion-icon name="text"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div> -->

  <ion-card [hidden]="!nodataavailable" color="secondary">
<ion-card-content>
  You have not posted any memes yet!

<button ion-button (click)="openPost()" color="dark" block outline text-right><ion-icon name="camera" color="dark" style="margin-right:2%;"></ion-icon> Start Posting</button>

</ion-card-content>
</ion-card>

  <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingText="Pull to refresh"
    pullingIcon="arrow-dropdown"
    refreshingSpinner="circles"
    refreshingText="..fetching">
  </ion-refresher-content>
</ion-refresher>

  <!-- Segment content -->
  <div [ngSwitch]="profile_segment">

    <ion-list *ngSwitchCase="'grid'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 class="grid_img" *ngFor="let i of list">
            <img [src]="i.file" alt="">
            <button ion-button small outline block color="danger" (click)="remove(i.id)">
              <ion-icon name="trash" color="danger" class="icon-left-text"></ion-icon> Remove
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer [hidden]="!showButtons">
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
    <button color="secondary" (click)="openPost()" class="appbutton" ion-button type="button" block>
      <ion-icon name="cloud-upload" role="img" class="icon icon-md ion-md-checkmark" aria-label="checkmark"></ion-icon>
      Upload Meme
    </button>
    </ion-col>
    <ion-col col-2></ion-col>
    </ion-row>
</ion-footer>
