page-home {
  // $grid-padding-width:         1px !default;
  // ion-title {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   padding: 0 90px 1px;
  //   width: 100%;
  //   height: 100%;
  //   text-align: center;
  // }

  /* Stories */
  .story {
    white-space: nowrap;
    height: 105px
  }

  .story_scroll {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .story_img_bg {
    width: 70px;
    padding: 2px;
    border-radius: 50%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    background: -webkit-linear-gradient(left top, color($colors,primary) 0%, #f90 100%);
  }

  .story_img_bg:active {
    background: -webkit-linear-gradient(left top, color($colors,primary) 0%, color($colors,secondary) 100%);
    transform: scale(1.1);
  }

  .story_img {
    width: 70px;
    border-radius: 50%;
  }

  .story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px
  }

  // .margin-left-icon {
  //   margin-left: 2%;
  // }






  .book-img {
  width: 100%;
  height: 45vw;
  object-fit: cover;
}

  ion-card {
    border-radius: 10px !important;
  }

  .list{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    .item{
        width: 48%;
        padding: 0;
        @include box-shadow(0px, 2px, 5px, rgba(color($colors,dark),.1));
        margin-bottom: 4%;
        border-radius: 3px;
        padding-bottom: 10px;
        text-align: center;
        // text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 500;
        .item-inner{
            padding: 0;
            .label-ios{
                margin: 0;
                img{
                    width: 40px;
                    height: 40px;
                    // object-fit: contain;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    border-radius: 50%;
                }
            }
        }
    }
}

}
