<ion-header>
  <ion-navbar color="white">
    <ion-buttons start left>
      <ion-toggle checked="true" color="secondary" *ngIf="notifyMe ==1" (tap)="toggleNotify(0)"></ion-toggle>
      <ion-toggle checked="false" color="instagram" *ngIf="notifyMe ==0" (tap)="toggleNotify(1)"></ion-toggle>
    </ion-buttons>

    <ion-title>
      <img alt="Memesasa" width="80%"   src="../assets/imgs/meme.png">
    </ion-title>

    <ion-buttons end right>
      <button color="black" ion-button icon-only (click)="shareItem()">
        <ion-icon name="share" class="top-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="..refreshing">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Story line -->
  <ion-scroll class="story" scrollX="true">
    <div class="story_scroll" *ngFor="let s of profiles" (click)="open(s.id,s.fullName,s.nickName,s.profilePic,s.count,s.memberSince)">
      <div class="story_img_bg">
      <img no-margin no-padding class="story_img" [src]="s.profilePic"></div>
      <p no-margin no-padding text-center class="story_text">{{ s.nickName }}</p>
    </div>
  </ion-scroll>

  <hr no-margin no-padding>

  <ion-card [hidden]="!showbanner" (click)="openBanner()" class="banner-card">
    <ion-card-header *ngIf="bannerText !=null">
      {{bannerText}}
    </ion-card-header>
    <ion-card-content *ngIf="bannerImage !=null" class="banner-card-content">
      <img src="{{bannerImage}}" class="banner-img">
    </ion-card-content>
  </ion-card>

  <div padding>

    <!-- Featured Categories Style 3 -->
    <h3>{{label1}}</h3>

    <ion-card [hidden]="!norecommended" color="secondary">
    <ion-card-content>
      There are no memes to display!
    </ion-card-content>
    </ion-card>

    <ion-slides no-pager spaceBetween="-10" slidesPerView="2.1" class="featureSlider">

      <ion-slide *ngFor="let today of todaylist" (click)="openDetails($event,today)">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-12 class="slidecard">
              <ion-card>
                <ion-chip color="danger" style="position: absolute; right: 20px; top: 20px;">
                  <!-- <ion-label class="ionlabel">For {{today.id}}</ion-label> -->
                  <ion-icon *ngIf="today.liked == 0" name="heart-outline" color="primary"></ion-icon>
                  <ion-icon *ngIf="today.liked == 1" name="heart" color="secondary"></ion-icon>
                  <!-- <span>{{today.likes}}</span> -->
                </ion-chip>
                <img src="{{today.file}}" class="book-img"/>
                <!-- <button style="margin: 0;" ion-button full color="primary">{{trend.title}}</button> -->
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

    </ion-slides>
    <!-- End Featured Categories Style 3 -->

    <!-- Featured Categories Style 1 -->
    <h3 style="margin-top:1%;" class="ionlabel">{{label2}}
      <span item-end class="primaryColor floatRight" style="float:right;" (click)="openPopular()">View All</span>
    </h3>

    <ion-grid no-padding>
      <ion-row>
        <ion-col col-6 *ngFor="let item of list" (click)="openDetails($event,item)">
          <ion-card>
            <ion-chip color="danger" style="position: absolute; right: 20px; top: 20px;">
              <!-- <ion-label class="ionlabel">For {{item.id}}</ion-label> -->
              <ion-icon *ngIf="item.liked == 0" name="heart-outline" color="primary"></ion-icon>
              <ion-icon *ngIf="item.liked == 1" name="heart" color="secondary"></ion-icon>
            </ion-chip>
            <img src="{{item.file}}" class="book-img" no-margin/>
            <!-- <button style="margin: 0;" ion-button full color="primary">{{hot.title}}</button> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- End Featured Categories Style 1 -->



  </div>






  <!-- <ion-row>
  <ion-col col-6 style="height:30vh;width:40%" (swipe)="swipePage($event)" *ngFor="let item of list"> -->

    <!-- Cards -->
    <!-- <ion-card no-padding padding-bottom no-margin class="card"> -->

      <!-- <ion-row>
        <ion-col col-10>
          <ion-item>
        <ion-avatar item-left>
          <img src="{{item.profilePic}}">
        </ion-avatar>
        <h2 style="font-weight: bold">{{item.fullName}}</h2>
        <p>{{item.nickName}}</p>

      </ion-item>
        </ion-col >
        <ion-col col-2>
          <button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="presentPostPopover()">
            <ion-icon name="more"></ion-icon>
        </button>
        </ion-col>
      </ion-row> -->

      <!-- <iframe *ngIf="item.uploadType == 'video'"
  [src]="sanatizeBase64Image(item.file)"
  style="border: none;" mute="true"
  allow="accelerometer; gyroscope; encrypted-media;"
  allowfullscreen="true"></iframe> -->

      <!-- <video *ngIf="item.uploadType == 'video'" id="videoPlayer" webkit-playsinline="webkit-playsinline" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls played="1" preload="auto">
          <source [src]="item.file" type="video/mp4" />
      </video> -->
      <!-- <img *ngIf="item.uploadType == 'image'" src="{{item.file}}" (tap)="tapPhotoLike($event)">

      <p no-margin no-padding>
        <button clear ion-button icon-only (click)="likeButton()" class="like-btn likebtn">
          <ion-icon no-padding [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="icon-space"></ion-icon>
          <span class="margin-left-icon">{{item.likes}}</span>
        </button>
        <button clear ion-button icon-only (click)="goMessages(item.id)" class="likebtn">
          <ion-icon no-padding color="black" name="ios-text-outline" class="icon-space likebtn" style="font-weight: bold"></ion-icon>
          <span class="margin-left-icon" style="margin-left:4% !important;">{{item.comments}}</span>
        </button> -->
        <!-- <button clear ion-button icon-only>
          <ion-icon no-padding isActive="false" color="black" name="paper-plane" class="icon-space"></ion-icon>
        </button> -->
        <!-- <button no-margin no-padding clear color="black" ion-button icon-only style="float: right">
          <ion-icon name="share"></ion-icon>
        </button>
      </p>
      <hr> -->

      <!-- <ion-card-content> -->
        <!-- <p class="like-content"><ion-icon name="heart"></ion-icon> {{item.likes}} likes</p> -->
        <!-- <p *ngIf="item.comment != null">{{item.comment}}</p>

        <ion-note style="font-size: 12px">
          {{item.timeAgo}}
        </ion-note>
      </ion-card-content>

    </ion-card>

  </ion-col>
  </ion-row> -->

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
