// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

@font-face {
 font-family: 'Montserrat-Regular';
 src:url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
$font-family-base: "Montserrat-Regular";
$font-family-ios-base: $font-family-base;
$font-family-md-base: $font-family-base;
$font-family-wp-base: $font-family-base;

@mixin box-shadow($top, $left ,$blur ,$color, $inset: false) {
    @if $inset {
    -webkit-box-shadow:$inset $top $left $blur $color;
    box-shadow:$inset $top $left $blur $color;
    } @else {
    -webkit-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
    }
}

@mixin border-radius($radius) {
   border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin background($size:cover,$repeat: no-repeat,$position:center) {
    background: {
    size: $size;
    repeat: $repeat;
    position:$position;
    }
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #19AAD1,
  secondary:  #FFDF00,
  danger:     #800000,
  light:      #fff,
  dark:       #222,
  graycolor:  #666,
  graylight:  #e1e1e2,
  facebook:   #3b5998,
  googleplus: #dd4b39,
  twitter:    #00aced,
  instagram:  #8a3ab9,
  obvious:    #F8E8A2,
  orange:     #FFA500,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-background:color($colors,primary);
$toolbar-ios-height:50px;
$toolbar-ios-title-font-weight:normal;
$toolbar-ios-title-text-align:left;
$toolbar-ios-button-font-size:1.2rem;
$segment-button-ios-toolbar-button-max-width:50%;
$segment-button-ios-toolbar-font-size:1.5rem;
$card-ios-border-radius:0;
$item-ios-avatar-size:45px;
$button-ios-font-size:1.4rem;
$button-ios-border-radius:0;
$item-ios-thumbnail-size:80px;
$alert-ios-button-main-font-weight:normal;
$searchbar-ios-input-search-icon-color:color($colors,light);
$searchbar-ios-input-clear-icon-color:color($colors,light);
$searchbar-ios-input-text-color:color($colors,light);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
