page-signin {

  .toolbar-background {
    background: transparent !important;
    border-color: transparent !important;
  }

  // .content-ios{
  //   //background: color($colors,secondary);
  //   .scroll-content{
  //       padding-bottom:5px !important;
  //   }
  // }

  .social-logo {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .version {
    margin-top: 20% !important;
  }

  .list{
    width:100%;
        .item{
        border-radius: 6px;
        border: 1px solid color($colors,dark) !important;
        }
  }

  // .main-form {
      // justify-content: center;
      // min-height: calc(100% - 100px);
      // display: flex;
      // flex-wrap: wrap;
  .logo{
          padding: 20px 0;
          width: 50%;
          align-items: center;
          display: flex;
          margin-left: auto;
          margin-right: auto;
          img{
              width:313px;
              margin: 0 auto;
          }
      }

  /***place holder****/
  input{
      &::-webkit-input-placeholder {
          color: color($colors,dark);
          font-size: 1.4rem;
      }
    }

      ion-select{
          &::-webkit-input-placeholder {
              color: color($colors,dark);
              font-size: 1.4rem;
          }
  }

}
