<ion-content padding>
      <div  class="main-form">
      <div class="logo" text-center>
         <img src="assets/imgs/logo.png">
      </div>

      <h3 text-center>Welcome to Memesasa</h3>

      <form (submit)="ActionLogin()">

          <ion-list>
              <p class="formp">Phone No. / Email Address</p>
              <ion-item no-lines margin-bottom>
              <ion-input type="email" [(ngModel)]="LoginData.email" name="email" placeholder="Enter Phone No. or Email Address"></ion-input>
              </ion-item>
              <!-- <p class="formp">Password</p>
              <ion-item no-lines margin-bottom>
              <ion-input [type]="passwordType" clearOnEdit="false" [(ngModel)]="LoginData.password" name="password" placeholder="Enter password"></ion-input>
              <button type="button" (click)='hideShowPassword()' ion-button clear small item-end icon-only>
                <ion-icon [name]="passwordIcon"></ion-icon>
              </button>
              </ion-item> -->
          </ion-list>

          <button ion-button color="primary" type="submit" block class="app-button">Sign In</button>
          </form>
      </div>

      <ion-row>
        <!-- <ion-col col-7 no-padding>
          <p (tap)="forgotPassword()" class="primaryColor">Forgot password?</p>
          </ion-col> -->
          <!-- <ion-col col-1 no-padding></ion-col> -->
          <ion-col col-12 no-padding>
            <button ion-button (click)="openRegister()" color="dark" block outline text-right>Register Here New Account</button>
            </ion-col>
        </ion-row>

      <p class="version" color="dark" text-center>v {{currentVersion}}</p>

</ion-content>
