<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <ion-buttons start left>
      <button ion-button icon-only (click)="openCamera()" class="top-icon-left">
        <ion-icon name="camera" color="secondary"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>
      <img alt="Memesasa" width="80%"   src="../assets/imgs/meme.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <!-- <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)"> -->
      <!-- <ion-segment-button value="photos" (ionSelect)="selectedPhotos()">
        Upload Photo
      </ion-segment-button> -->
      <!-- <ion-segment-button value="videos" (ionSelect)="selectedVideos()">
        Upload Video
      </ion-segment-button> -->
      <!-- <ion-segment-button value="texts" (ionSelect)="selectedText()">
        Text
      </ion-segment-button> -->
    <!-- </ion-segment> -->

  <!-- <div [ngSwitch]="segment">

    <div *ngSwitchCase="'photos'"> -->
  <!-- <div class="images-wrapper">

    <div id="adddiv">
    <div class="image-wrapper add-image-btn" id="adddivicon" *ngIf="!isUploading" (click)="showAddImage()">
    <button ion-button small outline class="extrabuttons marginTop">
      <ion-icon name="camera" color="primary" class="icon-left-text"></ion-icon> Add Photo
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=""/>
    </button>
    </div>
    </div>

      <ion-row id="rowmaincols">
              <ion-col id="maincols" *ngFor="let image of imagesValue">
      <div class="image" [style.background-image]="image.sanitized" style="min-width:200px;min-height:200px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  background-repeat: no-repeat;
  background-size: contain;">
         <img style="min-width:100%;min-height:100%;"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             [class.uploading]="isUploading" alt=""/>

             <ion-fab left top>
               <button ion-fab mini>
                 <ion-icon class="remove-image" color="light" name="trash" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
               </button>
             </ion-fab>

        <ion-spinner *ngIf="isUploading && uploadingProgress[image.url]<100"></ion-spinner>

        <ion-icon color="secondary" style="font-size:3rem;" name="checkbox" *ngIf="isUploading && uploadingProgress[image.url]==100"></ion-icon>
        <div *ngIf="isUploading" class="progress-bar">
          <div class="progress" [style.width]="(uploadingProgress[image.url]||0)+'%'"></div>
        </div>
      </div>
    </ion-col>
  </ion-row>

<ion-card *ngIf="isUploading && uploadingProgress[image.url]==100" color="secondary">
<ion-card-content style="color:#000000;">
Memes uploaded successfully
</ion-card-content>
</ion-card>

  </div> -->

  <!-- <button (click)="uploadImages()" class="appbutton" ion-button type="submit" block>
  <span class="button-inner">
  <ion-icon name="checkmark" role="img" class="icon icon-md ion-md-checkmark" aria-label="checkmark"></ion-icon>
          Upload Photos
      </span>
    </button> -->

    <div class="wrapper marginTop" (tap)="getPhoto()">
      <div class="file-upload">
        <!-- <input type="file" /> -->
        <ion-icon name="camera" class="cameraicon" color="secondary"></ion-icon>
      </div>
    </div>
    <ion-item (tap)="getPhoto()">
      <p text-wrap text-center>Browse Meme(s) to Upload</p>
    </ion-item>

    <div class="spin" [hidden]="!spinnerfront">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>

    <img [src]="img" [hidden]="!hidephoto">

    <ion-grid *ngIf="imagesList.length != 0">
        <ion-row>
        <ion-col col-6 *ngFor="let image of imagesList">
    <img src="{{image}}" style="height: 150px;width:150px" />
  </ion-col>
  </ion-row>
</ion-grid>

<!-- </div> -->

    <!-- <ion-list *ngSwitchCase="'videos'">

      <div class="wrapper marginTop" *ngIf=" UriData.length == 0" (tap)="selectDocument()">
        <div class="file-upload">
          <ion-icon name="cloud-upload" class="cameraicon"></ion-icon>
        </div>
      </div>
      <ion-item (tap)="selectDocument()">
        <p text-wrap text-center>Browse Video to Upload</p>
      </ion-item> -->

      <!-- <ion-card class="all_card_style">
              <ion-row *ngFor="let docs of documents,let i = index">
                  <ion-col col-10>
                      {{docs.document_title}}
                  </ion-col>
                  <ion-col col-2>
                      <img src="assets/imgs/trash.png"
                      (click)="deleteDoc(docs.id)" style="width: 50%"/>
                  </ion-col>
                  <hr class="hr_line">
              </ion-row>
          </ion-card> -->
          <!-- <ion-row *ngFor="let docs of UriData,let i = index">
            <ion-col col-2>
                <img class="fileIcon" src="assets/imgs/video.png" *ngIf="docs.fileType=='video'"/>
                <img class="fileIcon" src="assets/imgs/image.png" *ngIf="docs.fileType=='image'"/> -->

                <!-- <img class="fileIcon" [src]="docs.photoFile" *ngIf="docs.fileType=='image'"/> -->
            <!-- </ion-col>
              <ion-col col-8>
                  <ion-item class="input_box_class" class="item_file">
                      {{docs.name}}.{{docs.extension}}
                  </ion-item>
              </ion-col>
              <ion-col col-2>
                  <button clear ion-button color="secondary" (click)="deleteFile(docs.i)"><ion-icon name="trash"></ion-icon></button>
              </ion-col> -->
              <!-- <ion-col col-5 class="col_upload">
                  <button  class="blue_btn" ion-button color="secondary"
                  (click)="selectDocument()">Select File</button>
              </ion-col> -->
          <!-- </ion-row> -->
          <!-- <div align="center">
              <div *ngIf=" UriData.length > 0">
                  <button ion-button (click)="uploadDoc()">Upload
                  File(s)</button>
              </div>
          </div> -->

      <!-- <div class="wrapper marginTop" (tap)="ChooseFile()">
        <div class="file-upload">
          <input type="file" />
          <ion-icon name="cloud-upload" class="cameraicon"></ion-icon>
        </div>
      </div>
      <ion-item (tap)="ChooseFile()">
        <p text-wrap text-center>Browse Video to Upload</p>
      </ion-item>
      <p>{{FileName}}</p> -->
    <!-- </ion-list> -->

    <!-- <form (submit)="sendText()" *ngSwitchCase="'texts'"> -->
        <!-- <ion-list *ngSwitchCase="'texts'" style="background:red;">
          <ion-item no-lines margin-bottom>
            <ion-textarea class="iontextarea" autoGrow="true" [(ngModel)]="TextData.description" name="description" placeholder="Enter Meme Text Here..."></ion-textarea>
          </ion-item>
        </ion-list> -->
      <!-- <button type="submit" class="appbutton" ion-button block><ion-icon name="send" class="icon-left-text"></ion-icon> Send</button> -->
    <!-- </form> -->

  <!-- </div> -->

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
    <button color="secondary" *ngIf="segment == 'photos' && hidephoto ==true || imagesList.length != 0" (click)="sendData()" class="appbutt" ion-button type="submit" block>
      <ion-icon name="cloud-upload" role="img" class="icon icon-md ion-md-checkmark" aria-label="checkmark"></ion-icon>
      Upload Meme(s)
    </button>
    </ion-col>
    <ion-col col-2></ion-col>
    </ion-row>

    <!-- <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
    <button color="secondary" *ngIf="segment == 'videos' && UriData.length > 0" (click)="uploadDoc()" class="appbutton" ion-button type="submit" block>
      <ion-icon name="checkmark" role="img" class="icon icon-md ion-md-checkmark" aria-label="checkmark"></ion-icon>
      Upload Video
    </button>
    </ion-col>
    <ion-col col-2></ion-col>
    </ion-row> -->

    <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
    <button color="secondary" *ngIf="segment == 'texts'" (click)="sendText()" class="appbutton" ion-button type="submit" block>
      <ion-icon name="send" class="icon-left-text"></ion-icon>
      Send
    </button>
    </ion-col>
    <ion-col col-2></ion-col>
    </ion-row>
</ion-footer>
