page-post {

// //   #maincols {
// // padding: 0% !important;
// // width: 50% !important;
// // border-radius: 6px;
// // }
//
// // #rowmaincols {
// // padding: 0% !important;
// // }
//
// .images-wrapper {
//   font-size: 0;
//   .image-wrapper {
//     display: inline-block;
//     margin: 0;
//     // width: 33.3333%;
//     box-sizing: border-box;
//     padding: 1px;
//     position: relative;
//     .remove-image {
//       z-index: 100;
//       position: absolute;
//       right: 1px;
//       top: 1px;
//       padding: 5px 6px;
//       font-size: 20px;
//       text-shadow: white 0 0 1px;
//     }
//     ion-spinner {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       * {
//         stroke: white;
//       }
//     }
//     .image {
//       // position: relative;
//       // background-size: cover;
//       // background-position: center center;
//       // width: 100%;
//       img {
//         // max-width: 100%;
//         &.uploading {
//           background: rgba(0, 0, 0, 0.20);
//         }
//       }
//       ion-icon {
//         font-size: 50px;
//         position: absolute;
//         transform: translate(-50%, -50%);
//         top: 50%;
//         left: 50%;
//         color: white;
//       }
//       .progress-bar {
//         height: 6px;
//         width: 100%;
//         position: absolute;
//         bottom: 0px;
//         overflow: hidden;
//         .progress {
//           background: map_get($colors, 'primary');
//           height: 100%;
//         }
//       }
//     }
//
//     &.add-image-btn .image {
//       background: #DDD;
//     }
//   }
// }

.appbutt {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize !important;
  height: 50px;
  box-shadow: none;
  text-transform: none;
  color: color($colors,light);
  letter-spacing: .5px;
  border-radius: 6px;
}

.fileIcon {
  width: 50px;
  height: 50px;
}

.marginTop {
  margin-top: 5% !important;
}

.wrapper {

  width:100%;
  // height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

  .file-upload {
    height:10vh;
    width:20vw;
    border-radius: 50%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    border:4px solid #FFFFFF;
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2) !important;
    overflow:hidden;
    background-image: linear-gradient(to bottom, color($colors,primary) 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size:8vw;

    input[type='file'] {
      height:200px;
      width:200px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
    }

  }

}

.iontextarea {
  padding: 2vw;
  height: 60vh !important;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 10vw;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

}
