// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* Heart beat animation*/
@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .95 );
  }
}

/* Like button */
.like-btn:active {
  animation: heartbeat 1s linear;
}

.likebtn {
  margin-left: 4% !important;
}

/* Link */
a {
  text-decoration: none;
  color: #003581;
}

/* Grid */
.grid_img {
  margin-bottom: -5px;
}
.grid_img img{
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}

.grid_img:active img{
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
}

/* Card Content */
// .card {
//   width: 100vw !important;
// }

.like-content {
  font-weight: bold;
  font-family: Helvetica Neue;
}

.icon-space {
  padding-top: 3px;
  padding-left: 10px;
}

.icon-left-text {
  margin-right:4%;
}

.your_ion_select {
    max-width: 100% !important;
    width: 100% !important;
}

.doc-header {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    width: 50% !important;
}

.primaryColor {
  color: color($colors,primary);
}

.app-button, .appbutton {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize !important;
  height: 50px;
  box-shadow: none;
  background: color($colors,primary);
  text-transform: none;
  color: color($colors,light);
  letter-spacing: .5px;
  border-radius: 6px;
}

.tab-button-text {
  font-size: 3.6vw !important;
}

// .tabs-md .tab-button-text {
//     font-size: 6.6vw !important;
//     text-transform: none;
//     -webkit-transition: -webkit-transform 0.3s ease-in-out;
//     transition: -webkit-transform 0.3s ease-in-out;
//     transition: transform 0.3s ease-in-out;
//     transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
//     margin: 0;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     -webkit-transform-origin: 50% 80%;
//     transform-origin: 50% 80%;
// }

.top-icon {
  font-size: 3em !important;
  margin-right: 4% !important;
}

.top-icon-left {
  font-size: 3em !important;
  // margin-left: 4% !important;
}

.toast-bg {
background-color:red;
}

.banner-card {
  border-radius: 10px !important;
  padding:0px !important;
}
.banner-card-content {
  padding:0px !important;
}
.banner-img {
  width:100%;height:100%;
}
