<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="white">
    <ion-title>{{fullName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="..refreshing">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row padding style="margin-bottom:7% !important;">
    <!-- Avatar -->
    <ion-col col-3>
      <img src="{{profilePic}}" class="avatar" alt="{{nickName}}">
    </ion-col>
    <!-- Information about user -->
    <ion-col col-3 text-center >
      <h6>{{count}}</h6>
      <p no-padding no-margin>Posts</p>
    </ion-col>
    <ion-col col-6 text-center>
      <h6>{{memberSince}}</h6>
      <p no-paddin no-margin>Member Since</p>
    </ion-col>
  </ion-row>

  <!-- Profile info -->
  <!-- <div padding>
    <p no-margin no-padding>Name: <b>{{fullName}}</b></p>
    <p no-padding no-margin class="info">Nickname: <a href="#">{{nickName}}</a></p>
  </div> -->

  <ion-card [hidden]="!showbanner" (click)="openBanner()" class="banner-card">
    <ion-card-header *ngIf="bannerText !=null">
      {{bannerText}}
    </ion-card-header>
    <ion-card-content *ngIf="bannerImage !=null" class="banner-card-content">
      <img src="{{bannerImage}}" class="banner-img">
    </ion-card-content>
  </ion-card>

  <hr>

  <ion-card [hidden]="!nodataavailable" color="secondary">
<ion-card-content>
  {{fullName}} has not posted any memes yet!
</ion-card-content>
</ion-card>

  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="grid_img" *ngFor="let i of list" (click)="openDetails($event,i)">
          <img [src]="i.file" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
