<ion-header>

  <ion-navbar color="white">
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingText="Pull to refresh"
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles"
        refreshingText="..fetching">
      </ion-refresher-content>
    </ion-refresher>

    <ion-card [hidden]="!nodataavailable" color="secondary">
    <ion-card-content>
      No comment(s) for this meme!
    </ion-card-content>
    </ion-card>

  <ion-list>
    <!-- <ion-item no-lines *ngFor="let m of list" (click)="goMessageDetail(m.sender, m.profile_img, m.last_message)"> -->
    <ion-item no-lines *ngFor="let m of list">
      <ion-avatar item-left>
        <img [src]="m.profilePic">
      </ion-avatar>
      <h2 style="font-weight: bold">{{ m.fullName }}</h2>
      <p text-wrap>{{ m.comment }}</p>
      <p>{{ m.timeAgo }}</p>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer class="main-footer">
  <form (submit)="ActionPost()">
  <ion-toolbar>
    <ion-buttons start left>
      <button ion-button icon-right color="primary">
        <ion-icon name="ios-text-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-input type="text" value="" [(ngModel)]="MessageData.comment" placeholder="Write comment" name="comment" [attr.maxlength]="300"></ion-input>
    <ion-buttons end>
      <button ion-button icon-right color="primary">
        <ion-icon name="md-send" color="primary" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  </form>
</ion-footer>
<!-- <ion-footer (click)="goNewMessage()">
  <ion-toolbar>
     <p text-center><ion-icon name="add"></ion-icon> Post comment</p>
  </ion-toolbar>
</ion-footer> -->
