<!--
  Generated template for the MemedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start left [hidden]="!showButtons">
      <button ion-button icon-only (click)="openTabs()">
        <ion-icon name="home" class="top-icon-left"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Like / Share / Download</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareMeme()">
        <ion-icon name="share" color="{{share_btn_color}}" class="top-icon"></ion-icon>
      </button>
      <button ion-button icon-only (click)="downloadFile()">
        <ion-icon name="download" color="{{download_btn_color}}" class="top-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <!-- Cards -->
    <!-- <ion-card no-padding padding-bottom no-margin> -->

    <ion-card [hidden]="!showbanner" (click)="openBanner()" class="banner-card">
      <ion-card-header *ngIf="bannerText !=null">
        {{bannerText}}
      </ion-card-header>
      <ion-card-content *ngIf="bannerImage !=null" class="banner-card-content">
        <img src="{{bannerImage}}" class="banner-img">
      </ion-card-content>
    </ion-card>

    <p [hidden]="!showdownloadingText" text-center color="primary">{{downloadingText}}</p>

      <ion-row>
        <ion-col col-10>
          <ion-item no-lines>
        <ion-avatar item-left>
          <img src="{{item.profilePic}}">
        </ion-avatar>
        <h2 style="font-weight: bold">{{item.fullName}}</h2>
        <p>{{item.nickName}}</p>

      </ion-item>
        </ion-col >
        <ion-col col-2>
          <button *ngIf="item.liked == 0" no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="likeButton()">
            <ion-icon [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="top-icon-incard"></ion-icon>
            <span style="font-size: 1.2em !important;">({{item.likes}})</span>
        </button>
        <button *ngIf="item.liked == 1" no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="likedAlready()">
          <ion-icon name="heart" color="secondary" class="top-icon-incard"></ion-icon>
          <span style="font-size: 1.2em !important;">({{item.likes}})</span>
      </button>
        </ion-col>
      </ion-row>

      <!-- <iframe *ngIf="item.uploadType == 'video'"
  [src]="sanatizeBase64Image(item.file)"
  style="border: none;" mute="true"
  allow="accelerometer; gyroscope; encrypted-media;"
  allowfullscreen="true"></iframe> -->

      <!-- <video *ngIf="item.uploadType == 'video'" id="videoPlayer" webkit-playsinline="webkit-playsinline" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls played="1" preload="auto">
          <source [src]="item.file" type="video/mp4" />
      </video> -->
      <img *ngIf="item.uploadType == 'image'" src="{{item.file}}" (tap)="tapPhotoLike($event)">

      <!-- <p no-margin no-padding>
        <button clear ion-button icon-only (click)="likeButton()" class="like-btn likebtn">
          <ion-icon no-padding [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="icon-space"></ion-icon>
          <span class="margin-left-icon">{{item.likes}}</span>
        </button>
        <button clear ion-button icon-only (click)="goMessages(item.id)" class="likebtn">
          <ion-icon no-padding color="black" name="ios-text-outline" class="icon-space likebtn" style="font-weight: bold"></ion-icon>
          <span class="margin-left-icon" style="margin-left:4% !important;">{{item.comments}}</span>
        </button>
        <button no-margin no-padding clear color="black" ion-button icon-only style="float: right">
          <ion-icon name="share"></ion-icon>
        </button>
      </p> -->
      <hr>

      <!-- <ion-card-content> -->
        <!-- <p class="like-content"><ion-icon name="heart"></ion-icon> {{item.likes}} likes</p> -->
        <!-- <p *ngIf="item.comment != null">{{item.comment}}</p> -->

        <ion-note style="font-size: 12px">
          {{item.timeAgo}} <span item-end>(#{{item.id}})</span>
        </ion-note>

      <!-- </ion-card-content> -->

    <!-- </ion-card> -->


</ion-content>
<ion-footer [hidden]="!showButtons">
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
    <button color="secondary" (click)="openTabs()" class="appbutton" ion-button type="button" block>
      Browse More Memes
    </button>
    </ion-col>
    <ion-col col-2></ion-col>
    </ion-row>
</ion-footer>
