<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!-- <div>
    <h4 no-margin no-padding class="info-text">Invite Friends</h4>
    <hr class="custom-hr" color="gray">
    <ion-item><ion-icon name="logo-facebook" color="facebook"></ion-icon> Invite Facebook Friends</ion-item>
    <ion-item><ion-icon name="contacts" color="primary"></ion-icon> Contacts</ion-item>
  </div> -->

  <!-- <div padding-top margin-top>
    <h4 no-margin no-padding class="info-text">Follow People</h4>
    <hr class="custom-hr" color="gray">
    <ion-item><ion-icon name="logo-facebook" color="facebook"></ion-icon> Facebook Friends</ion-item>
    <ion-item><ion-icon name="contacts" color="primary"></ion-icon> Contacts</ion-item>
  </div> -->

  <div>
    <h4 no-margin no-padding class="info-text">Account</h4>
    <hr class="custom-hr" color="gray">
    <!-- <ion-item>Story Settings</ion-item> -->
    <ion-item (tap)="goEditProfile()">Edit Profile</ion-item>
    <!-- <ion-item (tap)="changePassword()">Change Password</ion-item> -->
    <!-- <ion-item>Blocked Users</ion-item> -->
    <ion-item>
      <ion-label color="black">Notifications</ion-label>
      <ion-toggle checked="true" *ngIf="notifyMe ==1" (tap)="toggleNotify(0)"></ion-toggle>
      <ion-toggle checked="false" *ngIf="notifyMe ==0" (tap)="toggleNotify(1)"></ion-toggle>
    </ion-item>
  </div>

  <div padding-top margin-top>
    <h4 no-margin no-padding class="info-text">About</h4>
    <hr class="custom-hr" color="gray">
    <ion-item>Contact: memesasaofficial@gmail.com</ion-item>
    <ion-item (tap)="openPrivacy()">Privacy Policy</ion-item>
    <ion-item (tap)="openTerms()">Terms of Service</ion-item>
  </div>

  <div padding-top margin-top>
    <hr class="custom-hr" color="gray">
    <!-- <ion-item>Clear History</ion-item> -->
    <ion-item (tap)="logout()">Log Out</ion-item>
  </div>
</ion-content>
