page-signup {

    .toolbar-background {
      background: transparent !important;
      border-color: transparent !important;
    }

    .content-ios{
      //background: color($colors,secondary);
      .scroll-content{
          padding-bottom:5px !important;
      }
    }

    .version {
      margin-top: 2% !important;
    }

    .main-text-auth {
      margin-top: 36% !important;
      font-size: 3.4vh;
    }

    .main-logo-auth {
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:8%;
        transform:translateY(-50%);
        width: 30%;
    }

    .logo{
            width: 50%;
            align-items: center;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            img{
                width:313px;
                margin: 0 auto;
            }
        }

    .list{
      width:100%;
          .item{
          @include border-radius(6px);
          border: 1px solid color($colors,dark) !important;
          }
    }

    /***place holder****/
    input{
        &::-webkit-input-placeholder {
            color: color($colors,dark);
            font-size: 1.4rem;
        }
    }


  }
