<ion-content padding>
      <div  class="main-form">
      <div class="logo" text-center>
         <img src="assets/imgs/logo.png">
      </div>

      <h3 text-center>Create new account</h3>

      <form (submit)="ActionRegister()">
          <ion-list>
            <p class="formp">Full Name</p>
              <ion-item no-lines margin-bottom>
              <ion-input type="text" [(ngModel)]="RegisterData.fullName" name="fullName" placeholder="Enter full name"></ion-input>
              </ion-item>
              <p class="formp">Nickname (optional)</p>
              <ion-item no-lines margin-bottom>
              <ion-input type="test" [(ngModel)]="RegisterData.nickName" name="nickName" placeholder="Enter Nickname"></ion-input>
              </ion-item>
              <p class="formp">Phone No. / Email Address</p>
              <ion-item no-lines margin-bottom>
              <ion-input type="email" [(ngModel)]="RegisterData.email" name="email" placeholder="Enter Phone No. or Email Address"></ion-input>
              </ion-item>
              <!-- <p class="formp">Password</p>
              <ion-item no-lines margin-bottom>
              <ion-input [type]="passwordType" clearOnEdit="false" [(ngModel)]="RegisterData.password" name="password" placeholder="Enter Password"></ion-input>
              <button type="button" (click)='hideShowPassword()' ion-button clear small item-end icon-only>
                <ion-icon [name]="passwordIcon"></ion-icon>
              </button>
              </ion-item> -->
          </ion-list>

            <p text-wrap class="dark">By proceeding you agree to our <span (click)="openTerms()" class="terms primaryColor">Terms of Use</span></p>
          <button ion-button color="primary" type="submit" block class="app-button">Register</button>

          </form>
      </div>

      <p (click)="openSignIn()" text-center>If you already have an account <span class="primaryColor">Sign In Here</span></p>

</ion-content>
