<!--
  Generated template for the PrivacyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Information we collect</h4>
  	                  <p>We collect information from you when you register on our site, mobile app or fill out a form.
  	                  When ordering or registering, as appropriate, you may be asked to enter your: name, e-mail address, mailing
  	                  address or phone number.
  	                  We also may collect your computer’s IP address, IP address location and browser and/or device information.
  	                   You may, however, visit our site anonymously.</p>

  	                  <h4>Use of your information</h4>
  	                  <p>To personalize your experience (your information helps us to better respond to your individual needs)
  	                  </p>
  	                  <p>
  	                  To improve our mobile app (we continually strive to improve our mobile app offerings based on the information
  	                  and feedback we receive from you)
  	                  </p>
  	                  <p>
  	                  To improve customer service (your information helps us to more effectively respond to
  	                  your customer service requests and support needs)
  	                  </p>
  	                  <p>
  	                  To process transactions Your information, whether public or private, will not be sold,
  	                  exchanged, transferred, or given to any other company for any reason whatsoever, without your
  	                   consent, other than for the express purpose of delivering the purchased product or service requested.
  	                  </p>
  	                  <p>
  	                  To send periodic emails The email address you provide for order processing, may be
  	                   used to send you information and updates pertaining to your order, in addition to
  	                    receiving occasional company news, updates, related product or service information, etc.
  	                  </p>

  	                  <h4>Protecting your information</h4>
  	                  <p>We implement a variety of security measures to maintain the safety
  	                  of your personal information when you enter, submit, or access your personal information.</p>


  	                  <h4>Do we use cookies?</h4>
  	                  <p>Not at the moment.</p>
  	                  <p>
  	                  In the future we shall use cookies to understand and save your preferences for future visits and
  	                  compile aggregate data about site traffic and site interaction so that we can offer better site experiences
  	                   and tools in the future. We may contract with third-party service providers to assist us in better
  	                   understanding our site visitors. These service providers are not permitted to use the information collected
  	                    on our behalf except to help us conduct and improve our business.</p>


  	                  <h4>Disclosing any information</h4>
  	                  <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
  	                  This does not include trusted third parties who assist us in operating our mobile app, conducting our business,
  	                   or servicing you, so long as those parties agree to keep this information confidential. We may also release
  	                    your information when we believe release is appropriate to comply with the law, enforce our site policies,
  	                  	 or protect ours or others rights, property, or safety. However, non-personally identifiable visitor
  	                  	  information may be provided to other parties for marketing, advertising, or other uses.</p>

  	                  <h4>Third party links</h4>
  	                  <p>Occasionally, at our discretion, we may include or offer third party products or services on our mobile app.
  	                  These third party sites have separate and independent privacy policies. We therefore have no responsibility
  	                  or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity
  	                  of our site and welcome any feedback about these sites.
  	                  We therefore will not distribute your personal information to outside parties without your consent.</p>

  	                  <h4>Online Privacy Policy Only</h4>

  	                  <p>This online privacy policy applies only to information collected through our mobile app and not to information
  	                   collected offline.</p>

  	                  <h4>Terms and Conditions</h4>
  	                  <p>Please also visit our Terms and Conditions section establishing the use, disclaimers,
  	                   and limitations of liability governing the use of our mobile app and or mobile apps</p>

  	                  <h4>Your Consent</h4>
  	                  <p>By using our site, you consent to our privacy policy.</p>

  	                  <h4>Changes to our Privacy Policy</h4>

  	                  <p>We make changes to this policy periodically and if we decide to change our privacy policy, we
  	                   will post those changes on this page.</p>
</ion-content>
