<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->

    <ion-title>Favorite Memes</ion-title>

  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!-- <ion-searchbar style="margin: 0; padding: 0;"></ion-searchbar> -->

  <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingText="Pull to refresh"
    pullingIcon="arrow-dropdown"
    refreshingSpinner="circles"
    refreshingText="..fetching">
  </ion-refresher-content>
</ion-refresher>

<ion-card [hidden]="!showbanner" (click)="openBanner()" class="banner-card">
  <ion-card-header *ngIf="bannerText !=null">
    {{bannerText}}
  </ion-card-header>
  <ion-card-content *ngIf="bannerImage !=null" class="banner-card-content">
    <img src="{{bannerImage}}" class="banner-img">
  </ion-card-content>
</ion-card>

  <ion-list style="margin-bottom: 0;">
    <ion-item>
      <ion-label>Sort Order</ion-label>
      <ion-select (ionChange)="popularEvent($event)">
        <ion-option value="0">Default</ion-option>
        <!-- <ion-option value="0">Highest to Lowest</ion-option>
        <ion-option value="1">Lowest to Highest</ion-option> -->
        <ion-option value="1">Latest First</ion-option>
        <!-- <ion-option value="2">Old First</ion-option> -->
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-grid no-padding>
    <ion-row>

      <ion-card [hidden]="!nodataavailable" color="secondary">
      <ion-card-content>
        There are no memes to display!
      </ion-card-content>
      </ion-card>

      <ion-col col-6 *ngFor="let item of list" (click)="openDetails($event,item)">
        <ion-card>
          <ion-chip color="danger" style="position: absolute; right: 20px; top: 20px;">
            <!-- <ion-label class="ionlabel">For {{item.id}}</ion-label> -->
            <ion-icon *ngIf="item.liked == 0" name="heart-outline" color="primary"></ion-icon>
            <ion-icon *ngIf="item.liked == 1" name="heart" color="secondary"></ion-icon>
          </ion-chip>
          <img src="{{item.file}}" no-margin/>
          <!-- <div padding> -->
            <!-- <h2>{{item.title}}</h2> -->
            <!-- <h4>{{item.audience}}</h4> -->
            <!-- <h4>For <ion-badge color="secondary">{{item.sellType}}</ion-badge></h4> -->
          <!-- </div> -->
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- <p *ngIf="page==totalPage" class="muted-msg" text-center>No more items :(</p> -->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
